.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainDiv {
  height: 500px;
  background-color: purple;
  width: 40%;
}

/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1200px) {
  .mainDiv {
    width: 60%;
  }
}

/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 600px) {
  .mainDiv {
    width: 90%;
  }
}

/*Small smartphones [325px -> 425px]*/
/* @media only screen and (max-width: 425px){ */
/*   .mainDiv { */
/*     width: 90%; */
/*   } */
/* } */
